.dialogs {
    display: grid;
    grid-template-columns: 2fr 3fr 5fr;
}

.dialogList{
    padding: 10px
}
.dialogList .active {
    color: aqua;
}

.messages{
    padding: 10px;
}

.message {

}
.write {
    padding: 5px;
    text-align: center;
}